[submodule "jammer"]
	path = jammer
	url = https://github.com/oran-testing/jammer
	branch = main
[submodule "uu-agent"]
	path = uu-agent
	url = https://github.com/oran-testing/uu-agent
[submodule "5g-sniffer"]
	path = 5g-sniffer
	url = https://github.com/oran-testing/5g-sniffer
[submodule "rtue"]
	path = rtue
	url = https://github.com/oran-testing/rtue
